@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class = "container">
  <h2>Edit</h2>
  <hr />
  <br>

  <h4>Edit this machine's information: @Html.DisplayFor(model => model.MachineName)</h4>

  <p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600"})</p>
  <p>@Html.ValidationMessageFor(model => model.InstallationDate, "", new { @class = "text-danger", @style = "font-weight: 600"})</p>
  <P>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600"})</P>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.MachineName, "Machine Name: ")
    @Html.EditorFor(model => model.MachineName)

    @Html.LabelFor(model => model.InstallationDate, "Installation Date: ")
    @Html.EditorFor(model => model.InstallationDate, "{0:yyyy-MM-dd}",new { type = "date"})

    @Html.LabelFor(model => model.Description, "Description: ")
    @Html.EditorFor(model => model.Description)

    <input type="submit" value ="Save" class="btn btn-primary"/>
  }

  <br>
  <p>@Html.ActionLink("Manage machines", "Index")</p>
</div>