@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div class = "container">
  <h2>Engineer Details</h2>
  <hr />
  <br>
  <h4 class="text-info"><strong>Name:</strong> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
  <h4 class="text-info"><strong>Hire Date (yyy-mm-dd):</strong> @Html.DisplayFor(model => model.HireDate)</h4>
  <br>
  @if(@Model.JoinEntities.Count == 0)
  {
    <h5 class="text-danger">This engineer is not currently licensed to repair any machines!</h5>
  }
  else
  {
    <h4 class="text-info"><strong>This engineer is license to repair the following machine(s):</strong></h4>
    <ul>
      @foreach(EngineerMachine join in Model.JoinEntities)
      {
        <li class="text-info">@join.Machine.MachineName</li>
        @using (Html.BeginForm("DeleteJoin", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" class="btn btn-danger"/>
        }
      }
    </ul>
  }
  <br>
  <p>@Html.ActionLink("Edit engineer's information", "Edit", new { id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Assign a machine", "AssignAMachine", new {id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Manage engineers", "Index")</p>

</div>