@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div class = "container">
  <h2>Engineer Details</h2>
  <hr />
  <br>
  <h3>Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
  <h3>Hire Date (YYYY-MM-DD): @Html.DisplayFor(model => model.HireDate)</h3>
 
  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This engineer is not currently licensed to repair any machines!</p>
  }
  else
  {
    <h4>This engineer is license to repair the following machine(s):</h4>
    <ul>
      @foreach(EngineerMachine join in Model.JoinEntities)
      {
        <li>Machine: @join.Machine.MachineName</li>
        @using (Html.BeginForm("DeleteJoin", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" class="btn btn-danger"/>
        }
      }
    </ul>
  }

  <br>
  <p>@Html.ActionLink("Edit engineer's information", "Edit", new { id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Assign a machine", "AssignAMachine", new {id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId})</p>
  <p>@Html.ActionLink("Manage engineers", "Index")</p>

</div>